<HTML>
<HEAD>
    <TITLE>Online Electronic Store</TITLE>
    <style>
        
        h1   {color: blue;}
        p    {color: red;}
        table.gridtable {
            font-family: verdana,arial,sans-serif;
            font-size:11px;
            color:#333333;
            border-width: 1px;
            border-color: #666666;
            border-collapse: collapse;
        }
        table.gridtable th {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: tomato;
        }
        table.gridtable td {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: tomato;
        }
        
        .test-fb{
             background-color: red;
   		     display:flex;
     	     justify-content: space-around;
    	     align-items:center;
        }

		.test-g{
			display: grid;
			grid-template-columns: 100% ;
		}

    </style>
 
</HEAD>
<BODY>
<CENTER>
    <h2>Users</h2>
    <BR/>
    #set( $count = 1 )
    <TABLE class="gridtable">
        <TR>
            <TH>Serial #</TH><TH>First Name</TH><TH>Last Name</TH>
        </TR>
        #foreach( $user in $users )
            <TR>
                <TD>$count)</TD>
                <TD>$user.getFirstName()</TD>
                <TD>$user.getLastName()</TD>
            </TR>
            #set( $count = $count + 1 )
        #end
    </TABLE>
    <BR/>
    <span>css flexbox text</span>	
    <div class="test-fb">
    	    #foreach( $user in $users )
            <div>
                <span>$user.getFirstName()</span>
                <span>$user.getLastName()</span>
            </div>
            #set( $count = $count + 1 )
        #end
    </div>
    
    <br/><br/>
     <span>css grid</span>	
     <div class="test-g">
    	    #foreach( $user in $users )
            <div>
                <span>$user.getFirstName()</span>
                <span>$user.getLastName()</span>
            </div>
            #set( $count = $count + 1 )
        #end
    </div>
    
</CENTER>

</BODY>
</HTML>